.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bgc;
}
.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  color: $bgc;
}

.adress-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  color: $contacts-color;
}

.feedback {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;

  text-transform: uppercase;

  color: $bgc;

  margin-bottom: 20px;
}

.adress-footer {
  display: inline-block;
  margin-bottom: 9px;
}

.main-adress {
  margin-right: 70px;
}

.footer-media {
  margin-right: 93px;

  .social-icon-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-icon {
    fill: $bgc;
  }
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: $hover-button-blue;

  .social-icon {
    fill: $bgc;
  }
}
