.main-hero-img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img-hero/hero-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  /*background-color: rgb(78, 82, 80);*/
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  margin-top: 0px;
  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background-color: var(--hover-button-blue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active:hover,
.active:focus {
  color: var(--hover-button-blue);
}

.active-hero-btn:hover,
.active-hero-btnve-hero-btn:focus {
  color: var(--hover-button-blue);
  background-color: var(--bgc);
}
