.partners .item {
  width: calc((100%-30px * 5) / 6);
}
.partners-icon-list {
  display: flex;
  justify-content: center;
}

.partners-icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  background-color: var(--bgc);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-icon-link:hover,
.partners-icon-link:focus {
  border-color: var(--hover-button-blue);
}

.partners-icon-link:hover .partners-icon,
.partners-icon-link:focus .partners-icon {
  fill: var(--hover-button-blue);
}

.partners-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

